/**********************/
/* Footer media query */
/*     over 368px     */
/**********************/
@media only screen and (min-width: 23em) {
}

/**********************/
/*     over 480px     */
/**********************/
@media only screen and (min-width: 30em) {
}

/**********************/
/*     over 640px     */
/**********************/
@media only screen and (min-width: 43em) {
  .controls {
    width: calc((300 / 16) * 1rem);
  }

  .btn--controls {
    height: calc((75 / 16) * 1rem);
    margin: 0 auto;
  }
}

/**********************/
/*     over 928px     */
/**********************/
@media only screen and (min-width: 58em) {
}

/***********************/
/*     over 1120px     */
/***********************/
@media only screen and (min-width: 70em) {
}
